name: docs
on:
  push:
    branches:
      - main
jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out source
        uses: actions/checkout@v3

      - name: Install Poetry
        run: pip install poetry

      - name: Install Poetry dependencies
        run: poetry install

      - name: Install Sphinx dependencies
        run: |
          pip install -r docs/requirements.txt

      - name: Build HTML
        run: |
          cd docs/
          make html

      - name: Deploy HTML to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html